/* src/assets/main.css */
/* reset margin/padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Karla, sans-serif;
    background: white;
    line-height: 1.5;
    color: #0c2442;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  